/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
    display: flex;
    align-items: flex-start;
    gap: 35px;
    align-self: stretch;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    box-sizing: border-box;
     display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 0px 50px;
}

a {
    color: inherit;
    text-decoration: none;
}

.euro {
    font-weight: 700;
}

.neutral-star {
    color: var(--main-bg-color)
}

.logo{
    display: flex;
    padding: 30px 50px;
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
    padding-left: 0;
}
.logo img{
    width: 61.09px;
    height: 19px;

}

.entet{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: stretch;
    
}

ul{
    list-style-type: none;    
    display: flex;
    align-items: center;
    
}

.button1{
    color: black;
    width: 50%;
    display: flex;
  
}

.button1:after{
    content: "";
    position: absolute;
    background-color: #0065FC;
    height: 2px;
    width: 0;
    display: flex;
    top: 0;
    color: #0065FC;
    
}

.button1:hover:after{
    width: 113px;
    color: #0065FC;
}
.button1:hover a{
    width: 113px;
    color: #0065FC;
}
.button2{
    margin-left: 30px;
}
.headline{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    padding: auto;
    gap: 8px;
}
.info-group{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    align-self: stretch;
    gap: 35px;
}

h2{
    margin: 0;

  
}
.description{
    margin: 0;
    display: flex;

}

.search-bar{
    display: flex;
    width: auto;
    height: 49px;
    align-items: center;
    gap: 24px;
    border-radius: 15px;
    border: 1px solid var(--Grey, #F2F2F2);
    background: var(--White, #FFF);

}

::placeholder {
    color: black;
    font-size: 16px;
    font-weight: 700;
}

input{
    height: 3.4em ;
    text-align: center;
    font-weight: 700;
    border: 0;
}

.icon{
    display: flex;
    flex-direction: row;
    width: 50px;
    height: 50px;
    background-color: #F2F2F2;
    align-items: center;
    justify-content: center;
    fill: none;
    border-radius: 15px 0px 0px 15px;
    flex-shrink: 0;

    
}

.recherche{
    border-radius: 0px 15px 15px 0px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    color: white;
    height: 49px;
    align-items: center;
    font-size: 15px;
    display: flex;
    align-items: center;
    padding: 15px 16px;
}

.fa-magnifying-glass{
    display: inline-flex;
    color: white;
    padding: 15px 16px;
    align-items: center;
    gap: 10px;
    flex-shrink: 0;
    border-radius: 15px;
    border: 1px solid var(--Blue, #0065FC);
    background: var(--Blue, #0065FC);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    visibility: hidden;
}

.filter-bar{
    display: inline-flex;
    flex-direction: row;
    align-content: flex-start;
    flex-wrap: wrap;
    align-items: stretch;
  
    align-content:space-between;
    gap: 15px;


}

.try{
    display: inline-flex;
    flex-wrap: wrap;
    height: 40px;
    gap: 10px;
    padding: 4px 19px;
    align-items: center;
    border-radius: 25px;
    border: 2px solid var(--grey-tint-2, #D9D9D9);

}
.try:active{
    background-color: #DEEBFF;
}
.filtres{  /* Title/Filter */
font-family: Raleway;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
margin-right: 15px;
margin: 0;
display: flex;
align-items: center;
}

.filtres-icon{
    width: 22px;
    height: 22px;
}
.filtres-text{
    color: var(--Black, #000);
    font-family: Raleway;
    font-size: 17px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-left: 10px;
}
.fa-info{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 24px;
    height: 24px;
    color: #0065fc;
    padding: 0;
    border-radius: 50%;
    border-width: 2px;
    border-color: #D9D9D9;  
    border-style: solid;
    margin-right: 10px;
    font-size: 13px;
}
.info-disponibilite{
    display: flex;
    height: 24px;
    align-items: center;
    gap: 10px;
    align-self: stretch;
}
/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    gap: 40px;
    align-self: stretch;
    padding-top: 35px;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
    display: flex;
padding: 30px;
flex-direction: column;
align-items: flex-start;
gap: 30px;
flex: 1 0 0;
align-self: stretch;
}

.section-title {
    margin: 0;
    font-size: 22px;

}
.hebergements .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}
.hebergements .card-subtitle {
    margin: 0;    
}

.hebergements .card-txt{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 8px;
    align-self: stretch;
    padding-bottom: 15px;
}

.column1 {
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    align-self: stretch;
    width: 100%;
    flex-wrap: wrap;
    
}
.column2{
    display: flex;
    flex-direction: row;
    gap: 30px;
    align-items: flex-start;
    align-self: stretch;
    flex-wrap: wrap;
    
}

.hebergements .card img {
    width: 100%;
    height: 136px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    
}

.tous-cards{
    display: flex;
    flex-wrap: wrap;
justify-content: space-between;
    width: 100%;
    align-self: stretch;
    gap: 30px;
}
.card {
    background-color: white;
    border-radius: 20px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
   
}
.hebergements .card{
    background-color: white;
    border-radius: 20px 20px 20px 20px;
    border: 5px solid var(--White, #FFF);
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 240px;
    flex-wrap: wrap;
    display: flex;
    align-content: space-around;
    align-self: stretch;
}

.card-content{
    width: 100%;
    padding: 0px 15px;
    
   
}
.card img {
    object-fit: cover;
    width: 100%;
    height: 124px;
    border-top-left-radius: 20px;
    
}

.card-title {
    font-size: 16px;
    margin: 0;
    margin-top: 4px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}


.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
    padding: 5px;
}

.populaires-cards img {
    width: 33%;
    height: 150px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}

/****** Activites ***********/
.activites{
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.activites-cards{
    display: flex;
   
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    
}

.activites .card{
    width: 23%;
    border-radius: 20px 20px 20px 20px;
    padding: 0;
    height: 100%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    
   

}

.activites .card img{
    width: 100%;
    height: 380px;
    border-top-right-radius: 20px ;    
    border-top-left-radius: 20px ; 

}
.activites .card-title{
    display: flex;
    align-items: flex-start;
    padding: 20px 19px;
    flex-direction: column;
    justify-content: center;
    gap: 10px;
    align-self: stretch;
}

/****** Footer ***********/
footer{
    display: flex;
    align-items: flex-start;
    align-self: stretch;
    background: var(--Grey, #F2F2F2);
    height: auto;
    justify-content: space-between;
}
footer div{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 20px 20px 20px 20px;
    gap: 15px;
    width: 33.3%;
    height: 100%;

    
}
footer div p {
    font-family: Raleway;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    margin: 0;
    display: flex;
 
}
/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards a {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
    .filter-bar {
        display: grid;
        flex-direction: column;
        gap: 20px;
    }
    .activites .card img {
        height: 200px;
    }
    .activites .card {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center; 
        height: auto;

    }
    .activites .card-title{
        height: 30px;
    }
}


/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    .logo{
        padding: 30px;
    }
    .logo img{
        display: flex;
        justify-content: center;
    }
   
    .entet{
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        }

        body{
            width: 100%;
        }
    .button1:after{
        height: 2px;
        flex: 1 0 0; 
        
    }
   li {
        width: 187.5px;
        margin: 0;
        display: flex;
        justify-content: center;
    }
    ul{
        padding: 0;
    }
    a.button2{
        margin: 0;
    }
    .filter-bar div{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-around;
        gap: 20px;
      
        align-content: stretch;
    }
    .recherche{
        visibility: hidden;
    }
    .fa-magnifying-glass{
        display: flex;
        align-content: flex-end;
    }
    .info-group{
        padding-left: 20px;
        padding-right: 20px;
    } 
    .main-container{
        padding: 0;
    }
    .try{
        width: 100%;
        display: flex;
        height: 50px;
        padding: 4px 19px;
        justify-content: none;
        align-content: flex-start;
        align-items: center;
        gap: 10px;
        flex: 1 0 0;
        border-radius: 35px;
    }
    form input{
        width: 100%;
    }
    .filter-bar div{
        justify-content: flex-start;
    }
    .search-bar{
        display: flex;
        align-self: stretch;
        width: 100%;
    }
    .filtres-text{
        display: flex;
        justify-content: flex-start;
        padding: 0;
    }
    .hebergements-and-populaires {
        flex-direction: column-reverse;
        padding-top: 0;
    }
    .hebergements-and-populaires section{
        border-radius: 0;
    }
    .populaires{
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    .populaires-cards{
        flex-direction: column;
        align-items: center;
        gap: 15px;
        align-self: stretch;
    }
    .populaires-cards a{
        width: 100%;
    }
    .populaires-cards .card{
        margin-top: 0;
    }
    .hebergements section{
        background: white;
        
    }
    .fa-magnifying-glass{
        visibility: visible;
    }
    .hebergements .card{
        width: 100%;
    }
    .column1{
        gap: 15px;
    }
    .column2{
        gap: 15px;
    }
    .activites-cards{
        flex-direction: column;
        width: 100%;
        gap: 15px;
        align-self: stretch;
        align-items: flex-start;
        
    }
    .activites .card{
        width: 100%;
    }

    footer{
        flex-direction: column;
       
        padding: 30px;
        gap: 50px;
    }
    footer div{
        gap: 15px;
        width: 100%;
       padding: 0;
    }
}